@model PagedList.IPagedList<Accounts.Models.Group>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Список групп";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("ListGroups", "Students", new { sortOrder = Request.QueryString["sortOrder"], faculty = ViewBag.FacultyFilter, name = ViewBag.NameFilter, formOfTraining = ViewBag.FormFilter }, FormMethod.Get))
{
    <div class="form-inline" style="margin-bottom:10px">
        <div class="form-filter-events">
            @Html.DropDownList("faculty", ViewBag.FacultyList as List<SelectListItem>, htmlAttributes: new { @class = "form-control", style = "max-width:250px" })
        </div>

        <div class="form-filter-events">            
            @Html.TextBox("name", ViewBag.NameFilter as string, htmlAttributes: new { @class = "form-control", placeholder = "Группа", style = "max-width:140px" })
        </div>

        <div class="form-filter-events">            
            @Html.DropDownList("formOfTraining", ViewBag.FormOfTrainingList as List<SelectListItem>, htmlAttributes: new { @class = "form-control", style = "max-width:150px" })
        </div>

        <div class="form-filter-events" style="margin-bottom:10px">
            <input type="submit" value="Фильтр" class="btn btn-default" />
            <a class="btn btn-default" href="/Students/ClearFilter">Очистить</a>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Название", "ListGroups", new { sortOrder = ViewBag.NameSortParm, faculty = ViewBag.FacultyFilter, name = ViewBag.NameFilter, formOfTraining = ViewBag.FormFilter })
        </th>
        <th>
            @Html.ActionLink("Факультет", "ListGroups", new { sortOrder = ViewBag.FacultySortParm, faculty = ViewBag.FacultyFilter, name = ViewBag.NameFilter, formOfTraining = ViewBag.FormFilter })
        </th>
        <th>
            Программа
        </th>

        <th>
            @Html.ActionLink("Курс", "ListGroups", new { sortOrder = ViewBag.CourseSortParm, faculty = ViewBag.FacultyFilter, name = ViewBag.NameFilter, formOfTraining = ViewBag.FormFilter })
        </th>
        <th>
            @Html.ActionLink("Форма", "ListGroups", new { sortOrder = ViewBag.FormSortParm, faculty = ViewBag.FacultyFilter, name = ViewBag.NameFilter, formOfTraining = ViewBag.FormFilter })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("StudentsGroup", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormOfTraining.Name)
            </td>
        </tr>
    }

</table>

    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListGroups", new
    {
        page,
        sortOrder = Request.QueryString["sortOrder"],
        faculty = ViewBag.FacultyFilter,
        name = ViewBag.NameFilter,
        formOfTraining = ViewBag.FormFilter
    }))
