@model Accounts.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Восстановить доступ к личному кабинету";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Введите данные для восстановления доступа</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Lastname, new { @class = "col-md-2 control-label" })

        @if (Model == null)
        {
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
            </div>
        }
        else
        {
            <div class="col-md-10 top1">
                @Html.HiddenFor(m => m.Id)
                @Html.DisplayFor(m => m.Lastname, new { @class = "form-control" })
                @Html.HiddenFor(m => m.Lastname)
            </div>
        }
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Firstname, new { @class = "col-md-2 control-label" })

        @if (Model == null)
        {
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
            </div>
        }
        else
        {
            <div class="col-md-10 top1">
                @Html.DisplayFor(m => m.Firstname, new { @class = "form-control" })
                @Html.HiddenFor(m => m.Firstname)
            </div>
        }

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Middlename, new { @class = "col-md-2 control-label" })

        @if (Model == null)
        {
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Middlename, new { @class = "form-control" })
            </div>
        }
        else
        {
            <div class="col-md-10 top1">
                @Html.DisplayFor(m => m.Middlename, new { @class = "form-control" })
                @Html.HiddenFor(m => m.Middlename)
            </div>
        }

    </div>
    if (Model == null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.GroupId, "Группа/Должность", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GroupId", null, "Работник ВУЗа", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    @*if (Model != null && Model.GroupId != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.GroupId, "Группа/Должность", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 top1">
                    @Html.DisplayFor(m => m.Group.Name, new { @class = "form-control" })
                    @Html.HiddenFor(m => m.GroupId)
                </div>
            </div>
        }*@
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        @if (Model == null)
        {
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        }
        else
        {
            <div class="col-md-10 top1">
                @Html.DisplayFor(m => m.Email, new { @class = "form-control" })
                @Html.HiddenFor(m => m.Email)
            </div>
        }
    </div>




    if (ViewBag.Status == "FindEmail" || ViewBag.Status == "FindStudent" || ViewBag.Status == "FindTeacher")
    {
        if (Model.Question != null)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Question, new { @class = "col-md-2 control-label" })
                <div class="col-md-10 top1">
                    @Html.DisplayFor(m => m.Question, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Answer, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Answer, new { @class = "form-control" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(m => m.NumberOfRecordBook, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.NumberOfRecordBook, new { @class = "form-control" })
                </div>
            </div>
        }

    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Продолжить" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
