Content-Type: text/html; charset=utf-8

<html>
<body>
    <p>
        Это автоматическая рассылка, на данное письмо отвечать не нужно!
    </p>

    <h4>Здравствуйте, @ViewBag.UserName!</h4>
    <p>Вы получили это письмо, потому что кто-то (возможно, Вы) запросил на сайте Личный кабинет СФ БашГУ изменение адреса электронной почты.</p>

    <p>
        Чтобы подтвердить изменение адреса электронной почты с @ViewBag.CurrentEmail на @ViewBag.To , перейдите по
        @Html.Raw(ViewBag.Url) это нужно сделать до @ViewBag.DateEndChange.
    </p>
</body>
</html>
