
@{
    ViewBag.Title = "Синхронизация";
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.Raw(@ViewBag.Faculty)

<hr />
@Html.Raw(@ViewBag.Department)

<hr />
@Html.Raw(@ViewBag.Profile)

<hr />
@Html.Raw(ViewBag.Group)